.user-detail-header {
    min-height: 250px;
    background-color: #3c55bb;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-end;


    img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        object-fit: contain;
        margin-bottom: 10px;
    }
}

.user-details {
    height: 110px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h2 {
        margin-bottom: 0px;
    }
}

.pin-right-upper-corner {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}

.border-none {
    border: none;
}